apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "ss-notifier-api.name" . }}-postgresql
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ss-notifier-api.labels" . | nindent 4 }}
    component: postgresql
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ .Values.postgresql.storageSize }}

