imageRegistry: ghcr.io
imageRepository: edvardskrumins/ss-notifier-api
imagePullSecrets: ["ghcr-secret"]

php:
  image:
    repository: ss-notifier-php
    tag: latest
    pullPolicy: IfNotPresent
  replicaCount: 2

nginx:
  image:
    repository: ss-notifier-api-nginx
    tag: latest
    pullPolicy: IfNotPresent
  replicaCount: 2

worker:
  enabled: true
  image:
    repository: ss-notifier-api-worker
    tag: latest
    pullPolicy: IfNotPresent
  replicaCount: 1

namespace: ss-notifier

postgresql:
  imageTag: "18.0"
  database: "ss_notifier"
  username: "ss_notifier"
  storageSize: "50Gi"

redis:
  imageTag: "8.2.1"

elasticsearch:
  enabled: true
  image: "docker.elastic.co/elasticsearch/elasticsearch"
  imageTag: "9.1.4"  
  replicas: 3 
  minimumMasterNodes: 2  
  auth:
    enabled: true
  resources:
    requests:
      cpu: 150m  
      memory: 512Mi  
    limits:
      cpu: 400m
      memory: 768Mi  
  extraEnvs:
    - name: ES_JAVA_OPTS
      value: "-Xms256m -Xmx256m"  
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: longhorn
    resources:
      requests:
        storage: 50Gi  
  service:
    type: ClusterIP
    annotations: {}

kibana:
  enabled: true
  image: "docker.elastic.co/kibana/kibana"
  imageTag: "9.1.4"
  replicas: 1
  elasticsearchHosts: "https://ss-notifier-api-elasticsearch-master:9200"
  elasticsearchUsername: "kibana_system"
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  service:
    type: ClusterIP
    annotations: {}
  ingress:
    enabled: true
    className: traefik-external
    hosts:
      - host: kibana.local.edvardskrumins.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: edvardskrumins-com-tls
        hosts:
          - kibana.local.edvardskrumins.com

filebeat:
  enabled: true
  imageTag: "9.1.4"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

phpLogs:
  storageSize: "10Gi"

environment: "production"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik-external
  hosts:
    - host: ss-notifier-api.edvardskrumins.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: edvardskrumins-com-tls
      hosts:
        - ss-notifier-api.edvardskrumins.com

